docs/screenshots.html
fgx-build-desktop*/
build-*/
docs_build/
.DS_*
*.pyc
*.kate-swp


CMakeCache.txt
CMakeLists.txt.user
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt


## Thou shalt not add any binary stuff to project ;-)

# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

